*{
    margin: 0;
    padding: 0;
}

/* Common Font Style */
.font-style{
    font-family: "Azeret Mono", monospace;
}

/* Banner Section Style Start From Here */
.banner-section{
    display: flex;
    width: 1350px;
    height: 600px;
    background-image: url('../assets/Hero-bg.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    align-items: center;
}
.banner-box{
    margin: 0 auto;
    width: 800px;
    text-align: center;
}
.banner-img{
    width: 240px;
    height: 240px;
    margin-bottom: 50px;
}
.banner-text-content{
    padding: 20px 30px;
}
.banner-caption{
    font-weight: 800;
    font-size: 40px;
    color: #0D1321;
    word-spacing: unset;
    margin-bottom: 20px;
}
.banner-description{
    font-size: 16px;
    margin-bottom: 30px;
}
.contect-btn{
    font-size: 20px;
    font-weight: 600;
    color: white;
    background-color: black;
    border: none;
    outline: none;
    border-radius: 5px;
    padding: 15px 20px;
    margin-bottom: 30px;
}

/* Web Development Section start from here */
.web-development-container{
    max-width: 1100px;
    margin: 70 auto;
    padding: 50px 60px;
}
.main-boxs{
    border-radius: 10px;
    background-color:#fafafb;
    padding: 70px;
}
.top-box{
    width: 850px;
    margin: 40 auto;
    text-align: center;
}
.top-box-title{
    color: #0D1321;
    font-size: 32px;
    font-weight: 800;
    margin-bottom: 40px;
}
.top-box-description{
    font-size: 16px;
    color: #0D1321;
    margin-top: 20px;
}
.boxs{
    padding:40px;
    background-color:#fefefe;
}
.box{
    display: flex;
    gap: 150px;
}
.left-box{
    padding: 40px;
}
.right-box{
    padding: 40px;
}
.box-title{
    font-size: 24px;
    font-weight: bold;
    color: #0D1321;
    margin-bottom: 20px;
}
.box-description{
    color: #0D1321;
    font-size: 16px;
    margin-bottom: 20px;
}
.box-btn{
    color: #0D1321;
    font-weight: 500;
    font-size: 20px;
    padding: 10px 15px;
}

/* INSPIRATION SECTION START FROM HERE */
.inspiration-section{
    max-width: 1100px;
    margin: 70 auto;
}
.inspiration-container{
    display: flex;
    align-items: center;
    gap: 30px;
    flex-direction: column;
}
.inspiration-content-box{
    text-align: center;
    max-width: 800px;
}
.inspiration-title{
    font-size: 32px;
    font-weight: bolder;
    color: #0D1321;
}
.inspiration-description{
    font-size: 16px;
    margin: 40px 0;
    color: #0D1321;
    text-align: justify;
}
.inspiraion-video{
    text-align: center;
    min-width: 800px;
    background-color:#ffffff;
    padding: 20px;
    border-radius: 10px;
}
.video{
    width: 100%;
    border: none;
    border-radius: 10px;
}


/* CURRENT TARGET SECTION STYLE START FROM HERE */
.current-target-container{
    max-width: 1140px;
    margin: 50px auto;
}
.current-target-content-box{
    max-width: 800px;
    margin: 0 auto;
    text-align: center;
}
.current-box-title{
    font-size: 32px;
    font-weight: 800;
    color: #0D1321;
}
.current-box-description{
    font-size: 16px;
    margin:24px 0;
}
.target-boxs{
    display: flex;
    gap: 25px;
    margin-top: 50px;
    padding: 15px;
}
.target-box{
    padding: 15px;
    border-radius: 5px;
    width: 33%;
}
.target-box-1-bg{
    background-color: #fff6f4;
}
.target-box-2-bg{
    background-color: #f2f6fe;
}
.target-box-3-bg{
    background-color: #fffdf2;
}
.terget-box-img{
    width: 50px;
    height: 50px;
}
.target-box-title{
    font-size: 24px;
    font-weight: 800;
    color: #0D1321;
    margin-top: 10px;
}
.target-box-description{
    font-size: 16px;
    color: #0D1321;
    margin-top: 30px;
}
.target-box-btn{
    font-size: 16px;
    color: #0D1321;
    border: none;
    outline: none;
    margin-top: 20px;
}

/* SUPPORT SECTION STYLE START FROM HERE */
.support-section-text-contents{
    max-width: 1140px;
    height: 300px;
    margin: 50px auto; 
    background-image: url('../assets/handshake.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 50px;
    border-radius: 5px;
    text-align: center;
}
.support-section-text-content{
    width: 700px;
    margin: 40px auto;
    text-align: center;
}
.support-section-title{
    font-weight: bold;
    font-size: 32px;
    color: #ffffff;
}
.support-section-description{
    font-size: 16px;
    margin: 10px 0;
    color:#ffffff;
}
.support-section-input{
    background-color: #ffffff;
    padding: 15px 50px;
    border: none;
    outline: none;
    font-size: 16px;
    color: #0D1321;
    border-radius: 5px;
}
.support-section-btn{
    background-color: #ffffff;
    padding: 15px 20px;
    border: none;
    outline: none;
    font-size: 16px;
    color: #0D1321;
    border-radius: 5px;
    margin-left: 5px;
}

/* FOOTER SECTION STYLE START FORM HERE */
.footer-section{
    padding: 20px 0;
    background-color: #f8f8f8;
}
.footer-boxs{
    max-width: 1140px;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
}
.footer-title{
    font-size: 20px;
    font-weight: 500;
    color: #0D1321;
}
.footer-social-icons{
    display: flex;
    margin-right: 0px;
}

.footer-img{
    width: 23px;
    height: 23px;
    border-radius: 100%;
    margin-left: 15px;
}